
.sareeList{
    height: 420px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.saree{
    height: 350px;
    width: 100%;
    cursor: pointer;
}

.categoriesImgDiv{
    height: 270px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.categoriesImgDiv .categoriesDesc{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    padding-left: 5px;
    text-align: center;
   /* font-weight: bold;
    font-size: 23px;*/
}

.categoriesImg{
    height: 240px;
    width: 100%;
    cursor: pointer;
}

.product{
    position: relative;
}
/*
.similarProducts{
    background: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    bottom: 8px;
    height: 75px;
}*/

.similarProductsImg{
    width: 20%;
    height: 75px;
    margin-right: 5px;
    cursor: pointer;
}

.sareeList .productDesc{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    padding-left: 5px;
    text-align: center;
    font-size: 14px;
}

.productRs{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

.addToCart, .buyNow{
    height: 25px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.addToCart{
    background-color: #ffd814;
    float: left;
    margin-left: 5px;
}

.buyNow{
    background-color: #ffa41c;
    float: right;
    margin-right: 5px;
}

.accordionBody{
    padding-left: 10px;
    padding-right: 10px;
}

.form-check-label{
    cursor: pointer;
}

.productPrice{
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
}

.homePageitemList{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 5px #888888;
}

.homePageitemListForMobile{
    display: none;
}

.scroll-container{
    display: none;
}
.homePageitemListForDesktop{
    display: block;
}

.leftPanelOpenShowFn{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #00cfff;
    width: 270px;
    border-radius: 5px;
    margin-bottom: 3px;
    background-color: #fff;
    color: #000;
    display: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.productShare .shareLink{
    position: absolute;
    top: 14px;
    right: 17px;
    cursor: pointer;
}

.HomeShareLink{
    position: relative;
}

.HomeShareLink .shareLink{
    position: absolute;
    top: 14px;
    right: 17px;
    cursor: pointer;
}

.aroColorAche{
    position: absolute;
    right: 9px;
    bottom: 10px;
    color: #000000;
    background: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}



@media (max-width: 768px) {
    .categoriesImgDiv {
        height: 150px;
    }

    .categoriesImg {
        height: 120px;
        width: 70%;
    }

    .similarTypeProductImg {
        width: 200px !important;
        height: 200px !important;
    }
    
    .homePageitemListForDesktop{
        display: none;
    }
    .scroll-container {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        /* Additional styles, if needed */
    }
    
    .scroll-container {
        display: grid;
        grid-auto-flow: column; /* Arrange content in columns */
        gap: 10px; /* Adjust the gap between items if desired */
        overflow-x: auto; /* Enable horizontal scrolling */
        /* Additional styles, if needed */
    }
    
    .scroll-container {
        /* Responsive styles for mobile */
        @media (max-width: 768px) {
          width: 100%; /* Full width on mobile */
        }
    }

    .leftPanelOpenShowFn{
        display: block;
        margin-left: 11px;
        margin-bottom: 6px;
    }
    .HomeShareLink .aroColorAche{
        bottom: 80px;
    }
    
    .HomeShareLink .nId{
        bottom: 80px;
    }
   
}

@media (min-width: 450px) and (max-width: 768px) {
    .itemsClMd3{
        width: 30%;
        padding: 0px;
        padding-right: 2px;
    }
    .HomeShareLink .aroColorAche{
        bottom: 80px;
    }
    
    .HomeShareLink .nId{
        bottom: 80px;
    }
}

@media (min-width: 350px) and (max-width: 450px) {
    .itemsClMd3{
        width: 50%;
        padding: 0px;
        padding-right: 2px;
    }
    .HomeShareLink .aroColorAche{
        bottom: 80px;
    }
    
    .HomeShareLink .nId{
        bottom: 80px;
    }
}

