.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.navbar-nav li:hover > div.dropdown-div {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.dropdown-div ul{
    padding-left: 0px;
}
.dropdown-div ul li{
    list-style: none;
    cursor: pointer;
}

.menuLink{
    cursor: pointer;
}
.MoSubCatContainerScrollable{
    display: none;
}
.MoSubCat{
    border: 1px solid #00cfff;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    background-color: #00cfff !important;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.MoSubCatScrollable{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.MoSubCatScrollable::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar track */
}

.MoSubCatScrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.subNavBar768{
    display: block;
}

@media (max-width: 768px) {
    .MoSubCatContainerScrollable{
        display: block;
        margin-top: 8px;
    }
    .subNavBar768{
        display: none;
    }
}